@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>    
</div>

<div class="text-center">
    <h1 class="display-4">Welcome to BJJ Europe . The best site to find BJJ events in Europe.</h1>
</div>
