@{
    ViewData["Title"] = "Not Found";
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>

<div class="text-center">
    <h1 class="display-4">ERROR 404 PAGE NOT FOUND</h1>
</div>
